/* nav styles */

nav{
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 50px 200px;
}
nav ul li{
list-style: none;
}

.banner-title{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.banner-description{
    font-size: 20px;
    text-align: center;
}


.contact{
    width: 20px;
    height: 10px;
}
